<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arrudeia - FAQ</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=add"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/faq.css' %}">
    <link rel="icon" href="{% static 'img/logo colorida 1.png' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'img/logo colorida 1.png' %}" type="image/x-icon">
</head>

<body>
    <!-- Botão de tema -->
  <button class="theme-toggle" aria-label="Alternar tema">
    <i class="fas fa-moon"></i>
  </button>
  <!-- Header -->
  <header class="header">
    <div class="container header-content">
      <div class="logo">
        <img src="{% static 'img/logo-arrudeia.png' %}" style="height: 80px; width: auto;" alt="Arrudeia" class="logo-img">
        <span class="logo-text"><img src="{% static 'img/arrudeia_branco.png' %}" alt="logo" style="width: 100px;"></span>
      </div>
      <nav class="nav">
        <a href="{% url 'index' %}" class="nav-link">Início</a>
        <a href="{% url 'feed' %}" class="nav-link">ROTEIROS</a>
        <a href="{% url 'guias' %}" class="nav-link">GUIAS</a>
        <a href="{% url 'eventos' %}" class="nav-link">EVENTOS</a>
        <a href="{% url 'faq' %}" class="nav-link active">FAQ</a>
      </nav>
      <div class="user">
        <a href="{% url 'login' %}">
            <img src="{% static 'img/user-avatar.png' %}" style="width: auto; height: 50px;" alt="User" class="user-avatar">
        </a>
      </div>
    </div>
  </header>
    <main>
        <section class="perguntas-frequentes">
            <div>
                <h2>Perguntas Frequentes</h2>
                <p class="texto-perguntas-frequentes">Descubra, crie e compartilhe roteiros incríveis com a nossa comunidade de viajantes</p>
            </div>
        </section>
        <section class="perguntas-respostas">
            <div class="faq-item">
                <div class="faq-question">
                    <h3>O que é esta plataforma?</h3>
                    <span class="material-symbols-outlined toggle-icon">add</span>
                </div>
                <p class="faq-answer">
                    Um espaço colaborativo onde viajantes publicam seus roteiros reais...
                </p>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <h3>É gratuito usar e publicar roteiros?</h3>
                    <span class="material-symbols-outlined toggle-icon">add</span>
                </div>
                <p class="faq-answer">
                    Sim! O nosso projeto busca democratizar o acesso à cultura e ao lazer e a publicação e leitura de roteiros é livre de custos para o usuário comum.
                </p>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <h3>Posso ganhar dinheiro com meus roteiros?</h3>
                    <span class="material-symbols-outlined toggle-icon">add</span>
                </div>
                <p class="faq-answer">
                    Sim! A plataforma oferece uma funcionalidade de monetização para os criadores de conteúdo, permitindo que guias e criadores de roteiros cobrem por seus itinerários especializados.
                </p>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <h3>Como sei se um roteiro é confiável?</h3>
                    <span class="material-symbols-outlined toggle-icon">add</span>
                </div>
                <p class="faq-answer">
                    A confiabilidade é garantida através de um sistema de avaliação e comentários dos próprios usuários. Ao ver a pontuação e ler as experiências de outros viajantes, você pode verificar a qualidade, a precisão e a segurança do roteiro antes de segui-lo.
                </p>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <h3>Posso usar o offline ou baixar em PDF?</h3>
                    <span class="material-symbols-outlined toggle-icon">add</span>
                </div>
                <p class="faq-answer">
                    No momento não, essa função deve ser implementada no futuro.
                </p>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <h3>Como criar meu primeiro roteiro?</h3>
                    <span class="material-symbols-outlined toggle-icon">add</span>
                </div>
                <p class="faq-answer">
                    Após o cadastro e login, o usuário vai entrar na guia de roteiros e na área reservada a publicação ele pode escrever seu roteiro e publicar.
                </p>
            </div>

            <div class="faq-item">
                <div class="faq-question">
                    <h3>Ainda tenho dúvidas</h3>
                    <span class="material-symbols-outlined toggle-icon">add</span>
                </div>
                <p class="faq-answer">
                    O arrudeia é útil para pequenos empreendedores e comércios locais (pois é um canal estratégico para aumentar a visibilidade do negócio), para produtores de eventos (temos uma área reservada para a divulgação de eventos, ajudando a conectar o público a toda a agenda cultural e de lazer de Recife) e para o turismo sustentável (valorizamos rotas alternativas e pequenos negócios, reduzindo a pressão sobre áreas turísticas saturadas. Muitos roteiros cadastrados priorizam deslocamentos a pé, de bicicleta ou por transporte público, contribuindo para a redução da emissão de poluentes).
                </p>
            </div>

        </section>

    </main>

    <footer class="footer">
    <div class="container footer-content">
      <div class="footer-logo">
        <img src="{% static 'img/logo-arrudeia.png' %}" alt="Arrudeia" class="footer-logo-img">
      </div>
      <div class="social">
        <a href="#"><img src="{% static 'img/twitter.png' %}" alt="Twitter"></a>
        <a href="#"><img src="{% static 'img/facebook.png' %}" alt="Facebook"></a>
        <a href="#"><img src="{% static 'img/instagram.png' %}" alt="Instagram"></a>
      </div>
    </div>
    <div class="footer-links container">
      <a href="#">Sobre</a>
      <a href="#">Autores</a>
      <a href="#">Arquivos</a>
      <a href="#">Termos e Condições</a>
      <a href="#">Políticas e Cookies</a>
    </div>
  </footer>
    
<script>
const itens = document.querySelectorAll('.faq-item');

itens.forEach((item) => {
    let icon = item.querySelector('.material-symbols-outlined');
    let answer = item.querySelector('.faq-answer');
    if (!icon || !answer) {
        return;
    }
    icon.addEventListener('click', () => {
        if (answer.style.display === "block") {
            answer.style.display = "none";
            icon.textContent = "+";
        } else {
            answer.style.display = "block";
            icon.textContent = "−";
        }
    });
});
</script>
<script src="js/theme_toggle.js"></script>

</body>
</html>