<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/home_off.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <link rel="icon" href="{% static 'img/logo colorida 1.png' %}" type="image/x-icon">
        <link rel="shortcut icon" href="{% static 'img/logo colorida 1.png' %}" type="image/x-icon">
        <title>Arrudeia - Página Inicial</title>
    </head>
    <!-- Pagina Home não logada -->
    <body>
        <!-- Botão de tema -->
  <button class="theme-toggle" aria-label="Alternar tema">
    <i class="fas fa-moon"></i>
  </button>

  <header class="header">
    <div class="container header-content">
      <div class="logo">
        <img src="{% static 'img/logo-arrudeia.png' %}" style="height: 80px; width: auto;" alt="Arrudeia" class="logo-img">
        <span class="logo-text"><img src="{% static 'img/arrudeia_branco.png' %}" alt="logo" style="width: 100px;"></span>
      </div>
      <nav class="nav">
        <a href="{% url 'index' %}" class="nav-link active">INÍCIO</a>
        <a href="{% url 'feed' %}" class="nav-link">ROTEIROS</a>
        <a href="{% url 'guias' %}" class="nav-link">GUIAS</a>
        <a href="{% url 'eventos' %}" class="nav-link">EVENTOS</a>
        <a href="{% url 'faq' %}" class="nav-link">FAQ</a>
      </nav>
      <div class="user">
        <a href="{% url 'login' %}"></a>
        <img src="{% static 'img/user-avatar.png' %}" style="width: auto; height: 50px;" alt="User" class="user-avatar">
      </div>
    </div>
  </header>

        <!-- main -->
        <main>
            <!-- Arrudei + Cabloco -->
            <section>
                <div class="content">
                    <div>
                        <h1>ARRUDEIA</h1>
                        <p>Arrudeia é um site de turismo focado em Recife–PE que funciona como uma rede social onde usuários podem fazer publicações, compartilhar experiências e avaliar locais que visitaram. Isso ajuda turistas a conhecerem melhor a cidade e a descobrirem novos pontos de interesse.</p>
                    </div>
                    <img src="{% static 'img/logo-cabloco.png' %}" alt="cabloco">
                </div>
            </section>
            <!-- cadastre-se (GUIA/Estabelecimento/Usuario) -->
            <section>
                <div class="content-cad">
                    <div class="cad">
                        <h2>SE CADASTRE COMO GUIA TURÍSTICO!</h2>
                        <img class="cad-img" src="{% static 'img/guia.png' %}" alt="pessoa">
                        <span>
                            <p>Os Guias turísticos podem criar roteiros personalizados no Arrudeia e escolher se desejam vendê-los ou oferecê-los gratuitamente. Essa liberdade ajuda a conectar turistas, guias e comércios locais, tornando a experiência de turismo mais prática e completa.</p>
                        </span>
                    </div>
                    <div class="cad">
                        <h2>CADASTRE O SEU ESTABELECIMENTO!</h2>
                        <img class="cad-img" src="{% static 'img/estabelecimento.png' %}" alt="bar">
                        <span>
                            <p>As empresas e empreendedores podem cadastrar seus estabelecimentos no Arrudeia para serem facilmente encontrados por turistas e guias turísticos, aumentando a visibilidade do negócio e atraindo novos clientes.</p>
                        </span>
                    </div>
                    <div class="cad">
                        <h2>SE CADASTRE COMO TURISTA!</h2>
                        <img class="cad-img" src="{% static 'img/usuario.png' %}" alt="grupo">
                        <span>
                            <p>No Arrudeia, os turistas podem descobrir os melhores lugares de Recife, ver avaliações reais, seguir roteiros prontos e compartilhar suas próprias experiências. Tudo em um só lugar, de forma simples e prática.</p>
                        </span>
                    </div>
                </div>
            </section>
        </main>
        <!-- Rodapé -->
        <footer class="footer">
            <div class="container footer-content">
                <div class="footer-logo">
                    <img src="{% static 'img/logo_amarelo.png' %}" alt="Arrudeia" class="footer-logo-img">
                </div>
                <div class="social">
                    <a href="#"><img src="{% static 'img/twitter.png' %}" alt="Twitter"></a>
                    <a href="#"><img src="{% static 'img/facebook.png' %}" alt="Facebook"></a>
                    <a href="#"><img src="{% static 'img/instagram.png' %}" alt="Instagram"></a>
                </div>
            </div>
            <nav class="footer-links container">
                <a href="#">Sobre</a>
                <a href="#">Autores</a>
                <a href="#">Arquivos</a>
                <a href="#">Termos e Condições</a>
                <a href="#">Políticas e Cookies</a>
            </nav>
        </footer>
    </body>
</html>